body {
    background: rgb(95, 91, 187);
    background: linear-gradient(
      90deg,
    
      rgb(11, 15, 17) 0%,
      rgb(142, 57, 8) 35%,
      rgb(15, 33, 87) 100%
    );
    /* background-image: url('https://media.istockphoto.com/photos/training-and-skill-development-concept-with-icons-of-online-course-picture-id1353769234?b=1&k=20&m=1353769234&s=170667a&w=0&h=b6IpUxE9iqbdRogxurc7IFufWCOEd-pChpn59neFpQU='); */
    color: rgb(0, 0, 14);
  }
  .bg-orange {
    background-color: #cad1de;
    opacity: 0.9;
    font-weight: bold;
  }
  .main-content {
    background-image: linear-gradient(120deg, #97a9c5 0%, #538497 100%);
    width: 78%;
    opacity:1;
  }
  .assignment-table {
    border: 3px solid rgb(16, 18, 16);
    width: 80%;
  }
  tbody tr {
    border: 1px solid rgb(13, 13, 14);
  }
  thead tr {
    border-bottom: 4px solid rgb(15, 15, 16);
  }
  th,
  td {
    border: 1px solid;
  }
  .image-cont {
    width: 100%;
  }
  .image-tag {
    border-radius: 50%;
    border: 3px solid rgba(9, 9, 121, 1);
    width: 50%;
  }
  .btn {
    color: rgba(9, 9, 121, 1) !important;
    border-color: rgba(9, 9, 121, 1) !important;
  }
  .btn:hover {
    background-color: rgba(9, 9, 121, 1) !important;
    color: #fff !important;
  }
